* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* Might change font later */
    font-family: sans-serif;
}

/* Change colours to fit theme */
:root {
    --maincolor: rgb(0, 0, 0, 0.7);
    --secondarycolor: white;
}

.icon {
    display: flex;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--maincolor);
    position: sticky;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    padding: 10px 25px;
    font-weight: bolder;
    /* using REM for font-size instead of px so that is scales with responsive design which I will add later */
    font-size: 2rem;
}

.nav ul li a {
    text-decoration: none;
    color: var(--secondarycolor);
    transition: all 0.3s ease-in-out;
    padding: 5px 5px;
}

/* Adding hover pseudo-class to navigation bar */
.nav ul li a:hover {
    background-color: var(--secondarycolor);
    color: var(--maincolor);
    box-shadow: 0 0 10px var(--secondarycolor);
    border-radius: 10px;
}

.mainpage {
    display: flex;
    flex-direction: column;
    background-color: var(--maincolor);
    height: 745px;
    align-items: center;
    justify-content: center;
    color: var(--secondarycolor);
    font-size: 200%;
}

/* Adding beckground banner */
.mainpage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/sc.jpg") no-repeat center center/cover;
    height: 800px;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}

/* Customising main page text and button */
.textnbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 25%;
}

.mainpageheader {
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    color: var(--secondarycolor);
    
}

.button a {
    text-decoration: none;
    font-size: 150%;
    color: inherit;
}

/* Adding pseudo-classes for button */
.button a:visited {
    text-decoration: none;
}

.button:hover {
    background-color: var(--secondarycolor);
    color: var(--maincolor);
    font-weight: bold;
    box-shadow: 0 0 10px var(--secondarycolor), 0 0 10px var(--secondarycolor), 0 0 10px var(--secondarycolor);
    transition: 0.5s ease-in-out;
}